/* Global */
body{
  min-width: 290px;
  color: #4d4e53;
  font:15px/1.5 'Open Sans', Arial, sans-serif;
  margin:0;
  padding:0;
  background: #ffffff;
}

h1{
  color:black;
}

h2{
  color: black;
  font-size: 2em;
  font-weight: 100;
}

p, li, code{
  font-size: 1.1em;
}

p, li, a{
  color:rgb(77,78,83);
}

ol{
  margin: 0;
  padding: 0;
}

.container{
  width:800px;
  margin:auto;
}

/* Nav-bar */

nav{
  position:fixed;
  margin:0;
  padding:0;
  top:0;
  left: 0;
  min-width:290px;
  width:300px;
  height: 100%;
  /* float:left; */
  overflow: auto;
  border-right:rgba(0, 22, 22, 0.4) 3px solid;
}

#nav-bar h1{
  margin-left: 30px;
  font-size:2.1em;
  font-weight: 100;
}

#navbar ul {
  height: 88%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

#nav-bar li{
  list-style-type: none;
  padding-left: 18px;
  position: relative;
  border:0.5px solid;
  width:100%;
}

#nav-bar a{
  font-size: 1.1em;
  display: block;
  text-decoration: none;
  padding:10px 30px;
  curson:pointer;
}

#main-doc {
  position: absolute;
  margin-left: 310px;
  padding: 20px;
  margin-bottom: 110px;
}

/* Main Column */
main{
  position: absolute;
  margin-left: 310px;
  padding: 20px;
  margin-bottom: 110px;
}

section article {
  color: #4d4e53;
  margin: 15px;
  font-size: 0.96em;
}

section li {
  margin: 15px 0px 0px 20px;
}

code {
  display: block;
  text-align: left;
  white-space: pre-line;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  background-color: #f7f7f7;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  #navbar ul {
    border: 1px solid;
    height: 207px;
  }

  #navbar {
    background-color: white;
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 275px;
    border: none;
    z-index: 1;
    border-bottom: 2px solid;
  }

  #main-doc {
    position: relative;
    margin-left: 0px;
    margin-top: 270px;
  }
}

@media only screen and (max-width: 400px) {
  #main-doc {
    margin-left: -10px;
  }

  code {
    margin-left: -20px;
    width: 100%;
    padding: 15px;
    padding-left: 10px;
    padding-right: 45px;
    min-width: 233px;
  }
}
